BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 256
NamespaceIndentation: All
PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
SortIncludes: false